<!DOCTYPE html>
<html lang="zh">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <!--<meta name="viewport"-->
          <!--content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bodymain.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/selected_page.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <title>百知课程后台管理系统-首页
    </title>
</head>
<body>
<!--导航-->
<nav class="navbar navbar-default nav-self">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">百知课程后台管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'reception:login' %}" role="button">登录 <span class="glyphicon glyphicon-log-in"></span></a>
                </li>
                <li>
                    <a href="{% url 'reception:logout' %}">退出 <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</nav>
<!--内容面板-->
<div class="container-fluid">
    <div class="row">
        <!-- Nav tabs -->
        <div class="panel-group col-sm-2 left-side-bar" id="accordion" role="tablist" aria-multiselectable="true">
            <div>
                <div class="panel panel-default">
                  <div class="panel-heading left-side-header"><a href="{% url 'content:home' %}?home=home">百知课程</a></div>
                    {% for cate in category %}
                        <h5 class="course-python"><a href="{% url 'content:home' %}?gid={{ cate.id }}" class="header">{{ cate.name }}</a></h5>
                        <div class="list-group">
                        {% for curr in curriculum %}
                            {% if curr.category.id == cate.id %}
                                <a href="{% url 'content:home' %}?home=home&cid={{ curr.id }}" class="list-group-item">{{ curr.name }}</a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Tab panes 详情展示面板 -->
        <div class="tab-content col-sm-10 right-side">

            <div class="panel panel-default right-side-content">
                <div class="page-header">
                  <h3>博客文章</h3>
                </div>
                <div class="panel-body caret_parent">
                    <a href="{% url 'content:home' %}?order=-amount_of_reading" class="btn btn-default">阅读量 <span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="{% url 'content:home' %}?order=-submit_time" class="btn btn-default">发布时间 <span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="{% url 'content:add_article' %}" class="btn pull-right base-color add-course"><span class="glyphicon glyphicon-plus"></span> 增加文章</a>
                    <a href="{% url 'content:add_course' %}" class="btn pull-right base-color"><span class="glyphicon glyphicon-plus"></span> 增加课程/分类</a>
                </div>
                <div class="panel-heading">文章列表</div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox"/></th>
                            <th>ID</th>
                            <th>文章标题</th>
                            <th>所属课程</th>
                            <th>发布日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for foo in essay %}
                        <tr>
                            <td><input type="checkbox" class="checks" value="{{ foo.id }}"></td>
                            <td>{{ foo.id }}</td>
                            <td><a href="{% url 'content:modify' %}?id={{ foo.id }}">{{ foo.name }}</a></td>
                            <td>{{ foo.curriculum.name }}</td>
                            <td>{{ foo.submit_time }}</td>
                            <td><button class="btn btn-warning" value="{{ foo.id }}" onclick="del(this)">删除</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="pull-right pagitor-manager">
                    <ul class="pagination">
                        {% if essay.has_previous %}
                            <li>
                                <a href="{% url 'content:home' %}?pge={{ essay.previous_page_number }}&order={{ order }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for foo in essay.paginator.page_range %}
                            <li>
                            {% if foo == essay.number %}
                                <a href="javascript:void(0)" id="selected_page">
                            {% else %}
                                <a href="{% url 'content:home' %}?pge={{ foo }}&order={{ order }}">
                            {% endif %}
                                {{ foo }}</a>
                            </li>
                        {% endfor %}
                        {% if essay.has_next %}
                            <li>
                                <a href="{% url 'content:home' %}?pge={{ essay.next_page_number }}&order={{ order }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!--分页显示-->
        </div>

    </div>

</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-heart-empty glyphicon"></span> 关注我们</h4>
                    <p>最受欢迎的管理平台</p>
                    <p><a href="#" class="ic_df"> 新浪微博</a> </p>
                    <p><a href="#" class="ic_weichat"> 官方微信</a> </p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-king"> 开发平台</span> </h4>
                    <p>加入开发平台，尊享会员福利，成为资深程序猿</p>
                    <p class="p_idea"><a href="http://www.baizhibest.com"  class="btn btn-default btn-lg idea">我要开发</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-phone-alt"></span> 关于我们</h4>
                    <p>欢迎反馈宝贵意见</p>
                    <p class="p_idea"><a href="http://www.baizhibest.com"  class="btn btn-default btn-lg idea">意见反馈</a></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 cp_info">
                <div class="no-mp">
                    <p>CopyRight © 2020 北京百知教育科技有限公司 All Rights Reserved</p>
                    <p>电话：010-****888    京ICP备*******8号</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function del(target) {
        if (confirm('确认删除该篇文章？')){
            $(target).attr('disable', true);
            $.ajax({
                type:'get',
                url:'{% url 'content:delete' %}',
                data:'id='+target.value,
                success:function (data) {
                    if (data==='success'){
                        window.alert('删除成功');
                        window.location.reload();
                    }else {
                        window.alert('删除失败');
                    }
                    $(target).attr('disable', false);
                }
            });
        }
    }
</script>
</body>
</html>
